@font-face {
  font-family: "Montserrat-Bold";
  src: url("./Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./Montserrat-Regular.ttf");
}
